doctype 5
html
block vars
    - var title="mimosa-ember-peepcode!"
    - var isTestSuite=false
    - var reload=true
head
    title #{title}

    if isTestSuite
        link(rel='stylesheet', href='./stylesheets/vendor/qunit-1.11.0.css')
        style(type="text/css").
            #qunit-fixture, #app-root {
                position: relative;
                top: 0;
                left: 0;
                width: auto;
                height: auto;
            }

    link(rel='stylesheet', href='stylesheets/vendor/foundation/foundation.css')
    link(rel='stylesheet', href='stylesheets/style.css')

body
    if isTestSuite
        div(id="qunit")
        div(id="qunit-fixture")

        // testing vendor libraries
        script(src="javascripts/vendor/testing/qunit-1.11.0.js")
        script(src="javascripts/vendor/testing/pavlov.js")

        // this is served by the testem http server
        script(src="/testem.js")

    if reload
        script(src='socket.io/socket.io.js')
        script(src='javascripts/reload-client.js')

    // application dependencies
    script(src='javascripts/vendor/bower-assets/jquery/jquery.js')
    script(src='javascripts/vendor/bower-assets/handlebars/handlebars.js')
    script(src='javascripts/vendor/bower-assets/ember-shim/ember.js')
    script(src='javascripts/vendor/bower-assets/ember-model/ember-model.js')

    if isTestSuite
        // methods which should be available within the test cases for writing tests
        script(src="./javascripts/testing/support/test_helper.js")

        // test environment code which should run before application is imported
        script(src="./javascripts/testing/support/before_app.js")

    // application code
    script(src='javascripts/app/handlebars-helpers.js')
    //script(src='javascripts/compiled-handlebars.js')
    script(src='javascripts/compiled-emblem.js')
    script(src='javascripts/app/app.js')
    script(src='javascripts/app/models.js')

    if isTestSuite
        // test environment code which should run after application is imported
        script(src="javascripts/testing/support/after_app.js")

        // Tests!!
        script(src="./javascripts/testing/integration/tables_test.js")
        script(src="./javascripts/testing/integration/tabs_test.js")
        script(src="./javascripts/testing/integration/login_test.js")
