h1
  text-align: center

.tableMenu a
    font-weight bold
    font-size 3.5em
    text-align: center

.tableMenu a:hover
    background-color #e6e6e6

.tableMenu .active:hover, .tableMenu .active, h2 span
    background-color #333
    color: white

.menu p
  font-weight bold
  text-transform uppercase
  padding-bottom 1em

.tab
    background-color #f2f2f2
    border 1px solid #e6e6e6
    padding 1em 2em

.tab li
    list-style-type none
    border-bottom 1px solid #ccc

.tab li.total h3
    font-weight bold

.tab li.total
    border-top 4px solid black
    border-bottom: 0

.tab li h3
    font-weight normal

.tab li span
    float right

.order
    border-left 1px dashed #333

.order h2
    text-align center

h2 span
    padding: 0.5em 1em
