<div class="ui fourteen column divided grid">
    <div class="ui two column row">
        <div class="ui three wide column tableMenu">
            <h2>Tables</h2>
            <div class="ui center aligned two column grid">
                {{#each table in controller}}
                    <div class="ui column">
                        {{#link-to "table" table class="panel"}}
                            {{table.id}}
                        {{/link-to}}
                    </div>
                {{/each}}
            </div>
        </div>
        {{outlet}}
    </div>
</div>
